body {
    
    text-align: center;
    background-color:#FFF4F8;/*Colour name:pig pink*/

}

#header{
    border: 1px solid black; 
    display:flex;/*aligns items in a row*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F5FF;/*Lavender Blue*/
    

}

#logo{
    display: block;
	margin: auto;
	width: 2%;
    height:2%;
	border: 1px solid ; 
	border-radius: 10px;
    
    
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: centers;
    

}
#nav ul{
    list-style-type: none;
    margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: white;}
#nav li{
    float:left;
}
#nav li a{
    display:block;
    color:black;
    text-align: center;
    padding: 8px;
}
#nav li a :hover{
    background-color: #F4F5FF;
}

.sign-up-form{
    width:300px;
    border: 1px solid black; 
    background: #F4F5FF;
    padding: 20px;
    margin: 8% auto;
    text-align: center;


}
.sign-in-form{
    width:300px;
    border: 1px solid black; 
    background: #F4F5FF;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}

.resized-image{ /*resize image for cake images on home page*/
    width: 300px;
    height: 400px;
}
.resized-image2{/*resize images for cake images on home page*/
    width: 200px;
    height: 200px;
}
.capture-form{
    width:300px;
    border: 1px solid black; 
    background: #F4F5FF;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}
/* styles.css */
#table {
    
    background-color: #F4F5FF; 
    display:flex;
    justify-content: center;/*to place the table in the center*/
    align-items: centers;}

#table,th,td {
    border: 2px solid black;
 }

 #th, td {
    padding: 10px; 
    text-align: left; }

#th{
    background-color: white;
}

